<% content_for :navigation_list do %>
    <li><%= link_to t("globals.source"), repos_tree_path(params[:username], params[:repository]) %></li>
    <!--<li><%= link_to t("globals.branches"), "#" %></li>-->
    <li><%= link_to t("globals.commits"), repos_commits_path(params[:username], params[:repository]) %></li>
    <!--<li><%= link_to t("globals.tags"), "#" %></li>-->
<% end %>
<div class="commits">
    <% if params[:path].nil? %>
    <h4>提交历史:</h4>
    <%= render :partial => "commits", :locals => {:commits => @commits} %>
    <% else %>
    <h4>文件历史:<span><%= "#{params[:repository]}/#{params[:path]}" %></span></h4>
    <%= render :partial => "file_commits", :locals => {:commits => @commits, :type => @type} %>
    <% end %>
</div>