<% content_for :navigation_list do %>
    <li><%= link_to t("globals.source"), repos_tree_path(params[:username], params[:repository]) %></li>
    <!--<li><%= link_to t("globals.branches"), "#" %></li>-->
    <li><%= link_to t("globals.commits"), repos_commits_path(params[:username], params[:repository]) %></li>
    <!--<li><%= link_to t("globals.tags"), "#" %></li>-->
<% end %>
<div>
<%= render( :partial => "commit", :locals => {:commit => @last_commit, :tree => true }) if @last_commit %>
</div>
<%= content_tag :div, file_breadcrumb, :class => "breadcrumb" %>
<% if @tree.count %>
<div class="tree">
    <table cellspacing="0" width="100%" cellpadding="2">
        <tr class="list_header">
            <th align="left">文件名</th>
            <th>文件模式</th>
            <th align="right">大小</th>
            <th>文件哈希</th>
            <th>操作</th>
        </tr>
    <% @tree.each do |file| %>
       <tr class="<%= cycle 'even', 'odd' %>">
           <td align="left">
               <% if file[:type] == 'tree' -%>
               <%= image_tag("icons/dir.png") -%>
               <% else %>
               <%= image_tag("icons/txt.png") -%>
               <% end %>
               <%= content_tag(:span, link_to(file[:path], file_path(file) )) %>
           </td>
           <td align="center"><%= content_tag(:span, file[:mode]) %></td>
           <td align="right"><%= content_tag(:span, (file[:type] == 'tree') ? '-' : number_to_human_size(file[:size])) %></td>
           <td align="right" class="hash"><%= content_tag(:span, file[:hash]) %></td>
           <td align="center">
               <% if file[:type] == 'stree' -%>
                  <%= link_to "对比", repos_commits_path() %>
               <% else %>
                  <%= link_to "对比", file_path(file, :commit) %>
               <% end %>
                | <%= link_to "历史", file_path(file, :commits) %></td>
       </tr>
    <% end %>

    </table>
</div>
<% end %>
