<% content_for :navigation_list do %>
    <li><%= link_to t("globals.source"), repos_tree_path(params[:username], params[:repository]) %></li>
    <!--<li><%= link_to t("globals.branches"), "#" %></li>-->
    <li><%= link_to t("globals.commits"), repos_commits_path(params[:username], params[:repository]) %></li>
    <!--<li><%= link_to t("globals.tags"), "#" %></li>-->
<% end %>
<% if @last_commit  %>
<div>
        <p><%= image_tag avatar_url(@last_commit[:email]) %></p>
        <p>author: <%= @last_commit[:author]%></p>
        <p>tree:   <%= link_to @last_commit[:tree_hash], repos_tree_path(params[:username], params[:repository], @last_commit[:commit_hash]) %></p>
        <%= @last_commit[:parent_hash] %>
        <% unless @last_commit[:parent_hash].nil? %>
        <p>parent: <%= link_to @last_commit[:parent_hash], repos_commit_path(params[:username], params[:repository], @last_commit[:parent_hash]) %></p>
        <% end -%>
        <p>commit: <%= link_to @last_commit[:commit_hash], repos_commit_path(params[:username], params[:repository], @last_commit[:commit_hash]) %></p>
        <p>comment:<%= @last_commit[:comment]%></p>
        <p>email: <%= @last_commit[:email]%></p>
        <p>date:  <%= l(@last_commit[:date].to_time)%></p>
</div>
<% end %>

<%= content_tag :div, file_breadcrumb, :class => "breadcrumb" %>
<% if @tree.count %>
<div class="tree">
    <table cellspacing="2">
        <tr>
            <th>文件名</th>
            <th>文件模式</th>
            <th>大小</th>
            <th>文件哈希</th>
        </tr>
    <% @tree.each do |file| %>
       <tr class="<%= cycle 'even', 'odd' %>">
           <td>
               <% if file[:type] == 'tree' -%>
               <%= image_tag("icons/dir.png") -%>
               <% else %>
               <%= image_tag("icons/txt.png") -%>
               <% end %>
               <%= content_tag(:span, link_to(file[:path], file_path(file) )) %>
           </td>
           <td><%= content_tag(:span, file[:mode]) %></td>
           <td><%= content_tag(:span, number_to_human_size(file[:size])) %></td>
           <td><%= content_tag(:span, file[:hash]) %></td>
       </tr>
    <% end %>

    </table>
</div>
<% end %>
